<div class="header">
    <div>
        <form action="/" method="get">
            <input type="submit" value="Home" class="link-button"/>
            <input type="hidden" name="user_id" value="<%= @folder.user_id %>">
        </form>
    </div>

    <% if current_user %>
        &nbsp;|&nbsp;
        <div>
            <form action="/docs/new">
                <input type="hidden" name="folder_id" value="<%= @folder.id %>">
                <input type="submit" value="New document" class="link-button"/>
            </form>
        </div>
        &nbsp;
        <div>
            <form action="/folders/new">
                <input type="hidden" name="parent_folder_id" value="<%= @folder.id %>">
                <input type="submit" value="New folder" class="link-button"/>
            </form>
        </div>
        &nbsp;|&nbsp;
        <div>
            <form onclick="showFolderTitleEdit(); return false;">
                <input type="submit" id="Edit" value="Edit" class="link-button"/>
            </form>
        </div>
        <% if @folder.parent_folder_id %>
            &nbsp;
            <div>
                <form method="post" action="/folders/<%= @folder.id %>/destroy" onclick="return confirm('Are you sure?')">
                    <input type="submit" class="link-button" value="Delete"/>
                </form>
            </div>
        <% end %>

        &nbsp;|&nbsp;
        <div>
            <form action="/users/<%= current_user.id %>/edit">
                <input type="submit" value="<%= current_user.email %>" class="link-button"/>
            </form>
        </div>
    <% else %>
        <div>
            <form action="/login" method="get">
                <input type="submit" value="Login" class="link-button"/>
            </form>
        </div>
    <% end %>
</div>

<script type="text/javascript">
    function showFolderTitleEdit() {
        document.getElementById('folder-title').style.display = "none";
        document.getElementById('folder-title-edit').style.display = "block";
    }

    function showFolderTitle() {
        document.getElementById('folder-title').style.display = "block";
        document.getElementById('folder-title-edit').style.display = "none";
    }

    document.addEventListener("keydown", keyDownHandlerFolder, false);
    document.addEventListener("keyup", keyUpHandlerFolder, false);

    function keyDownHandlerFolder(e) {
        if (e.keyCode == 37) {
            document.getElementById('Up').click();
        } else if (e.keyCode == 69) {
            showFolderTitleEdit();
        } else if (e.keyCode == 27) {
            showFolderTitle();
        }
    }

    function keyUpHandlerFolder(e) {
        if (e.keyCode == 69) {
            document.getElementById('folder-title-edit-text-input').focus();
        }
    }
</script>
