<div>
    <form action="/folders/<%= @folder.id %>" method="get"><input type="submit" value="Back" class="link-button"/></form>
</div>
<br>

<form action="/folders/<%= @folder.id %>/save" method="post">
    Name: <input type="text" name="name" value="<%= @folder.name %>" size="80" maxlength="<%= Rails.application.config.max_folder_name_length %>"/>
    <br><br>
    <% if @folder.parent_folder_id %>
        Parent folder: <select name="parent_folder_id">
        <% @all_folders.each do |f| %>
            <% if f.id != @folder.id %>
                <option value="<%= f.id %>" <%= "selected" if f.id == @folder.parent_folder_id %>> <%= f.name %> </option>
            <% end %>
        <% end %>
        </select>
        <br><br>
    <% end %>
    <input type="submit"/>
</form>
