<%= render "header" %>

<br>

<div class="folder-header"><b><%= @folder.name %></b></div>

<ul>
<% if @parent_folder %>
    <li> <a href="/folders/<%=@parent_folder.id%>">../</a>
<% end %>
<% @child_folders.each do |f| %>
    <li> <a href="/folders/<%=f.id%>"><%= f.name %>/</a>
<% end %>
<% @docs.each do |d| %>
    <li> <a href="/docs/<%=d.id%>"><%= d.name %></a>
<% end %>
</ul>
