<%= render "header" %>

<br>

<div class="folder-title" id="folder-title"><b><%= @folder.name %></b></div>

<div class="folder-title-edit" id="folder-title-edit" style="display: none;">
    <form action="/folders/<%= @folder.id %>/save" method="post">
        <input type="text" id="folder-title-edit-text-input" name="name" value="<%= @folder.name %>" size="40" maxlength="<%= Rails.application.config.max_folder_name_length %>"/>
        <% if @folder.parent_folder_id %>
            Parent folder: <select name="parent_folder_id">
            <% @all_folders.each do |f| %>
                <% if f.id != @folder.id %>
                    <option value="<%= f.id %>" <%= "selected" if f.id == @folder.parent_folder_id %>> <%= f.name %> </option>
                <% end %>
            <% end %>
            </select>
        <% end %>
        <input type="submit"/>
    </form>
</div>

<ul>
<% if @parent_folder %>
    <li> <a href="/folders/<%=@parent_folder.id%>" id="folder-up" class="folder-contents">../</a> </li>
<% end %>
<% @child_folders.each do |f| %>
    <li> <a href="/folders/<%=f.id%>" class="folder-contents"><%= f.name %>/</a> </li>
<% end %>
<% @docs.each do |d| %>
    <li> <a href="/docs/<%=d.id%>" class="folder-contents"><%= d.name %></a> </li>
<% end %>
</ul>
