<div>
    <form action="/docs/<%= @doc.id %>" method="get"><input type="submit" id="Back" value="Back" class="link-button"/></form>
</div>
<br>

<% if @doc %>
<form action="/docs/<%= @doc.id %>/save" method="post">
<% else %>
<form action="/docs/new">
<% end %>

    <input type="text" name="name" value="<%= @doc.name %>" size="80" maxlength="<%= Rails.application.config.max_document_name_length %>"/>
    <br><br>
    Parent folder: <select name="folder_id">
    <% @all_folders.each do |f| %>
        <option value="<%= f.id %>" <%= "selected" if f.id == @doc.folder_id %>> <%= f.name %> </option>
    <% end %>
    </select>
    <br><br>

    <div class="mono"><textarea name="data" cols="80" rows="40" maxlength="<%= Rails.application.config.max_document_length %>"><%= @doc.data %></textarea></div>
    <input type="submit"/>
</form>

<script type="text/javascript">
    document.addEventListener("keydown", keyDownHandlerDocumentEdit, false);

    function keyDownHandlerDocumentEdit(e) {
        if (e.keyCode == 27) {
            document.getElementById('Back').click();
        }
    }
</script>
