<div class="header">
    <div>
        <form action="/folders/<%= @doc.folder_id %>" method="get"><input type="submit" id="Back" value="Back" class="link-button"/></form>
    </div>

    <% if current_user and @doc.user_id == current_user.id %>
        &nbsp;
        <div>
            <form action="/docs/<%= @doc.id %>/edit" method="get">
                <input type="submit" id="Edit" value="Edit" class="link-button"/>
            </form>
        </div>
        &nbsp;
        <div>
            <form method="post" action="/docs/<%= @doc.id %>/destroy" onclick="return confirm('Are you sure?')">
                <input type="submit" class="link-button" value="Delete"/>
            </form>
        </div>
    <% end %>
</div>
<br>

<div class="doc-header">
    <b class="left"><%= @doc.name %></b>
</div>
<br>
<div class="mono"><%= @doc.data %></div>

<script type="text/javascript">
document.addEventListener("keydown", keyDownTextField, false);

function keyDownTextField(e) {
    if (e.keyCode == 69) {
        document.getElementById('Edit').click();
    } else if (e.keyCode == 37) {
        document.getElementById('Back').click();
    }
}
</script>
